/* Global */

:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-pink: #fe918d;
  --color-dark-pink: #ff6863;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-blue: #73aace;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;
  --color-black: #000000;
  --color-light-sky: #bcf2f7;
  --color-sky: #7bdfe8;
  --color-dark-sky: #5cc7d1;
  --color-charcoal: #242e2d;

  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
  --size-border-radius: 4px;

  /* Animation */
  --animation-duration: 350ms;
}

* {
  box-sizing: border-box;
  border-radius: var(--size-border-radius);
}

#result {
  width: 180px;
  height: 50px;
  margin: 5px;
  text-align: right;
}

#operator {
  width: 50px;
  height: 50px;
  margin: 5px;
  text-align: center;
}

button {
  width: 50px;
  height: 50px;
  margin: 5px;
  background-color: var(--color-sky);
}

#num-0 {
  width: 115px;
}
